{% extends 'base.html.twig' %}

{% block title %}Book Details!{% endblock %}

{% block body %}
<h1>Book Details </h1>
<div>
{% if book is not null %}
<img src="{{ asset(book.author.picture) }}" alt="{{book.author.username}}" height="150px" />
<p><b>Title : <b/> {{ book.title }} </p>
<p><b>Publication Date : <b/> {{ book.publicationDate | date('d/m/Y') }} </p>
<p><b>Published : <b/> {{ book.enabled ? 'Yes' : 'No' }} </p>
<p><b>Author : <b/> <a href="{{path('app_author_details',{id: book.author.id})}}">{{ book.author.username }}</a> </p>
<hr>
{% else %}
<p>Book not Found.</p>
{% endif %}
<a href="{{path('app_book_list')}}">Return to List</a>
</div>
{% endblock %}
